
/*@import url('https://fonts.googleapis.com/css2? family = Gloria + Hallelujah & display = swap');*/
/*@import url('https://fonts.googleapis.com/css2? family = Nanum + Pen + Script & display = swap');*/
/*@import url('https://fonts.googleapis.com/css2? family = Sedgwick + Ave & display = swap');*/

body {
    margin: 0;
    height: 100%;
}
body::before {
    content: "";
    background-image: url("./images/teddy_5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: -1;
}
.title {
    position: fixed;
    width: 100%;
    margin-top: -10px;
    background-color: #F3E9F1/*rgb(240, 228, 228)*/;
    padding: 10px;
    font-family: 'Patrick Hand', cursive; 
    font-size: 25px;
}
.row{
    display: flex;
    flex-direction: row;
}
.row h1{
    margin-left: 20px;
    margin-top: 50px;
}
.text-center {
    text-align: center;
}
.iconImage {
    margin-top: 20px;
    margin-bottom: -10px;
}

.nav a {
    padding: 10px;
    text-decoration: none;
    color: black;
}
.nav a:hover {
    text-decoration: underline red;
}
.section-article {
    padding-top: 250px;
}
.lienTeddy {
    margin-left: 20px;
    font-family: 'Patrick Hand', cursive;
    text-decoration: none;    
    color: black;
}
.lienTeddy:hover {
    text-decoration: underline darkorchid;
    color: darkorchid;
}

.article {
    margin-bottom: 60px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 8px;
    box-shadow: 3px 6px 10px  black/*rgb(235, 225, 229)*/;
}
.articlePanier {
    width: 200px;
    margin-top: 20px;
    padding-left: 90px;
    z-index: -1;
}
.padding-top {
    padding-top: 30px;
}
.row {
    display: flex;
    justify-content: center;
}
.row p {
    padding-left: 20px;
}
.article-teddy {
    font-family: 'Patrick Hand', cursive;
}
.button-add {
 /* margin-top: 120px;*/
  border-radius: 20px;
  color: coral;
  background-color: black;
  cursor: pointer;
}
.button-add:hover {
    color: black;
    background-color: coral;
    text-shadow: 1px 1px 1px black;
}
.btn-margin-top {
    margin-top: 20px;
}
.btn-width {
    width: 300px;
}
.btn-form {
    font-size: 16px;
}
.form-cadre {
    width: 600px;
    padding-left: 190px;
    margin: auto;
    font-size: 17px;
    font-weight: 900;
    margin-bottom: 110px;
}
.btn-form{
    width: 400px;
}
.form {
    text-align: center;
}
input {
   width: 400px;
}
.form label {
    font-weight: 900;
}
.paiment {
    width: 10px;
}
fieldset {
    margin-bottom: 100px;
}
.footer {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #F3E9F1;
    bottom: 0;
}
.copyright{
    font-family: 'Patrick Hand', cursive;
}

/* MEDIA QUERIES */

@media all and (max-width: 830px) {
    .form-cadre{
        width: 375px;
        padding-left: 0;
    }
    .iconImage{
        margin-left: -70px;
        width: 200px;
        height: 50px;
    }
    h1{
        font-size: 30px;
    }
}
@media all and (max-width: 768px) {
    .form-cadre{
        width: 375px;
        padding-left: 0;
    }
    .iconImage{
        margin-left: -70px;
        width: 200px;
        height: 50px;
    }
    h1{
        font-size: 30px;
    }
}
@media all and (max-width: 425px) {
    .form-cadre{
        width: 425px;
        padding-left: 10px;
    }
    .iconImage{
        margin-left: -70px;
        width: 200px;
        height: 50px;
    }
    h1{
        font-size: 30px;
    }
    input{
        width: 400px;
    }
    .btn-form{
        width: 400px;
        padding-left: 5px;
    }
}
@media all and (max-width: 375px) {
    .form-cadre{
        width: 350px;
        padding-left: 5px;
    }
    .iconImage{
        margin-left: -70px;
        width: 200px;
        height: 50px;
    }
    h1{
        font-size: 25px;
    }
    input{
        width: 350px;
    }
    .btn-form{
        width: 350px;
        margin-left: 5px;
        padding-left: 5px;
    }
}
@media all and (max-width: 320px) {

    .form-cadre{
        width: 320px;
        padding-left: 5px;
    }
    input{
        width: 300px;
    }
    .btn-form{
        width: 300px;
        margin-left: 5px;
        padding-left: 5px;
    }
    .article{
        width: 320px;
        padding-left: 5px;
        padding-right: 0;
    }
    .iconImage{
        margin-left: -70px;
        width: 200px;
        height: 50px;
    }
    h1{
        font-size: 25px;
    }
    .articlePanier {
        width: 120px;
        margin-top: 0px;
        /*padding-left: 20px;*/
        margin-right: 0px;
        padding-right: 0px;
        z-index: -1;
    }
}