
/*@import url('https://fonts.googleapis.com/css2? family = Gloria + Hallelujah & display = swap');*/
/*@import url('https://fonts.googleapis.com/css2? family = Nanum + Pen + Script & display = swap');*/
/*@import url('https://fonts.googleapis.com/css2? family = Sedgwick + Ave & display = swap');*/

body {
    margin: 0;
}
.title {
    position: fixed;
    width: 100%;
    margin-top: -20px;
    background-color: rgb(235, 225, 229);
    padding: 10px;
    font-family: 'Sedgwick Ave', cursive; 
    font-size: 25px;
}
.text-center {
    text-align: center;
}

.nav a {
    padding: 10px;
    text-decoration: none;
    color: black;
}
.nav a:hover {
    text-decoration: underline red;
}
.section-article {
    padding-top: 250px;
}
.article {
    margin-bottom: 60px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    padding-left: 80px;
    padding-right: 80px;
}
.article:hover {
    box-shadow: 3px 6px 10px  rgb(235, 225, 229);
}
.padding-top {
    padding-top: 30px;
}
.row {
    display: flex;
    justify-content: center;
}
.row p {
    padding-left: 20px;
}
.article-teddy {
    font-family: 'Gloria Hallelujah display', cursive;
}

.button-add {
 /* margin-top: 120px;*/
  border-radius: 20px;
  color: coral;
  background-color: black;
  cursor: pointer;
}
.button-add:hover {
    color: black;
    background-color: coral;
    text-shadow: 1px 1px 1px black;
}

.btn-margin-top {
    margin-top: 20px;
}
.btn-width {
    width: 300px;
}
.btn-form {
    font-size: 16px;
}
.form-cadre {
    width: 600px;
    padding-left: 190px;
    margin: auto;
    font-size: 17px;
    font-weight: 900;
    margin-bottom: 40px;
}
.btn-form{
    width: 400px;
}
.form {
    text-align: center;
}
input {
   width: 400px;
}
.form label {
    font-weight: 900;
}
.footer {
    width: auto;
    height: 150px;
    background-color: rgb(235, 225, 229);
}
